$base: 16px;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lucida Console';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorwall, .story {
  margin-top: 50px;
}

.navbar {
  font-family: 'Lucida Console' !important;
}

.logo {
  padding: 1rem 2rem;
}